
@{
    ViewBag.Title = "AsignarMateriasProfesor";
    Layout = null;
}
@using School.Client.Clases.Controllers;
@using School.Client.Models;
@model RetornoConsultarMateriasProfesor
@{
    var db = new SincoERPEntities();
    var ProfesorID = 0;
    var ViewProfesorID = ViewData["ProfesorID"];
    if (ViewProfesorID != null)
    {
        int.TryParse(ViewProfesorID.ToString(), out ProfesorID);
    }
}
<style>
    .table-striped > tbody > tr:nth-of-type(odd) > * {
        background: rgba(0,0,0,0.02);
    }

    .theadSinco {
        background-color: var(--colorBase);
        color: white;
        font-size: .9rem;
    }

        .theadSinco th {
            font-weight: 500;
        }

    .IconCheckOn {
        color: green;
        font-size: 1.2rem;
    }

    .IconCheckOff {
        color: gray;
        font-size: 1.2rem;
    }


    form label {
        color: rgba(0,0,0,0.7);
        font-size: .8rem;
    }

    form input:not(.form-check-input) {
        border: none;
        font-size: .8rem;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        border-radius: 0px;
    }

    form select {
        border: none !important;
        font-size: .8rem !important;
        border-bottom: 1px solid rgba(0,0,0,0.2) !important;
        border-radius: 0px !important;
    }
</style>


<div class="col-sm-12 p-3">
    <div class="col-sm-12 mb-5">
        <h3 class="text-center">Materias Asignadas</h3>
        <p class="text-center" style="color: rgba(0,0,0,0.7);">Selecciona la asignatura que deseas agregar</p>
    </div>
    <div class="col-sm-12 d-flex justify-content-center mb-4">
        <form id="FormNewAsignatura" action="#" class="col-sm-11 d-flex g-3">
            <div class="col-md-4">
                <label for="inputNombre" class="form-label">Asignatura</label>
                <select name="AsignaturaID" class="form-select w-90" required>
                    <option selected>Selecciona una asignatura del menú</option>
                    @foreach (var item in Model.AsignaturasDisponibles)
                    {
                        <option value="@item.AsignaturaID">@item.Nombre</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <label for="inputNombre" class="form-label">Año academico</label>
                <select name="AnioAcademicoID" class="form-select w-90" required>
                    <option selected>Selecciona un año academico</option>
                    @foreach (var item in db.AnioAcademico.Where(z => z.Activo == true).ToList())
                    {
                        <option value="@item.AnioAcademicoID">@item.Anio</option>
                    }
                </select>
            </div>
            <div class="col-md-4 d-flex align-items-end justify-content-center">
                <button class="btn btnModal btnModalSave w-100" type="button" onclick="SendAsignaturaNew(@ProfesorID)">
                    <i class="IconsButtons fa-solid fa-floppy-disk"></i>
                    Guardar
                </button>
            </div>

        </form>
    </div>

    @if (Model.AsignaturasAsignadas != null && Model.AsignaturasAsignadas.Count > 0)
    {
        <div class="col-sm-12 d-flex justify-content-center">
            <table id="TableMateriasProfesor" class="table table-hover table-striped table-bordered w-90">
                <thead class="theadSinco">
                    <tr>
                        <th class="thTable w-40" scope="col">Nombre Asignatura</th>
                        <th class="thTable w-15" scope="col">Codigo Asignatura</th>
                        <th class="thTable w-15" scope="col">Año academico</th>
                        <th class="thTable w-15" scope="col">Activo</th>
                    </tr>
                </thead>
                <tbody class="tbodyProfesor">

                    @if (Model.AsignaturasAsignadas != null && Model.AsignaturasAsignadas?.Count > 0)
                    {
                        foreach (var pa in Model.AsignaturasAsignadas)
                        {
                            <tr>
                                <td>@pa.NombreAsignatura</td>
                                <td class="text-center">@pa.CodigoAsignatura</td>
                                <td class="text-center">@pa.AnioAcademico</td>
                                @if (pa.Activo == true)
                                {
                                    <td class="text-center"><i class="fa-solid fa-check IconCheckOn"></i></td>
                                }
                                else
                                {
                                    <td class="text-center"><i class="fa-solid fa-check IconCheckOff"></i></td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }

    <div class="col-sm-12 d-flex justify-content-end">
        <button class="btn btnModal btnModalCancel" type="button" data-bs-dismiss="modal">
            <i class="IconsButtons fa-solid fa-ban"></i>
            Cancelar
        </button>
    </div>
</div>



