
@{
    ViewBag.Title = "Form Asignatura";
    Layout = null;
}
@using School.Client.Clases.Controllers;
@model DataAsignatura
@*@using (Ajax.BeginForm("CrearProfesor", "School", null, new AjaxOptions { HttpMethod = "POST", OnFailure = "CreacionFallo", OnSuccess = "RespuestaForm", OnBegin = "Begin", OnComplete = "Complete", UpdateTargetId = "ContainerForm" }, new { id = $"FormAlumno", @class = "row", target = "_self" }))*@
@* { *@
<style>
    .TitleModal {
        text-align: center;
        color: var(--colorBase);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    }

    .ContainerForm {
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 5px;
    }

    #FormAsignatura label {
        color: rgba(0,0,0,0.7);
        font-size: .8rem;
    }

    #FormAsignatura input:not(.form-check-input) {
        border: none;
        font-size: .8rem;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        border-radius: 0px;
    }

    #FormAsignatura select {
        border: none;
        font-size: .8rem;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        border-radius: 0px;
    }

    .btnModalSave {
        background: var(--colorBase);
        color: white;
        font-size: .85rem;
        margin-right: 1rem;
    }

        .btnModalSave:hover {
            filter: saturate(170%);
            color: white;
        }

    .btnModalCancel {
        background: rgba(0,0,0,0.2);
        font-size: .85rem;
        color: white;
    }

        .btnModalCancel:hover {
            filter: contrast(150%);
            color: white;
        }

    .TitleSection {
        color: var(--colorBase);
        font-weight: 500;
        font-size: .9rem;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .btnModal {
        transition: ease .3s all;
        width: 17%;
    }

        .btnModal:hover {
            width: 20%;
        }

            .btnModal:hover .IconsButtons {
                width: 10%;
                opacity: 1;
            }

    .IconsButtons {
        padding-right: 2%;
        width: 0px;
        opacity: 0;
        transition: ease .3s all;
    }
</style>
@using (Ajax.BeginForm("CrearAsignatura", "School", null, new AjaxOptions { HttpMethod = "POST", OnFailure = "CreacionFallo", OnSuccess = "RespuestaForm", OnBegin = "Begin", OnComplete = "Complete", UpdateTargetId = "ContainerForm" }, new { id = $"FormAsignatura", @class = "row", target = "_self" }))
{
    @Html.Hidden("AsignaturaID", Model.AsignaturaID)
    <div class="col-md-4">
        <label for="inputNombre" class="form-label">Nombre</label>
        <input name="Nombre" type="text" class="form-control w-100" id="inputNombre" value="@Model.Nombre" required>
    </div>
    <div class="col-md-4">
        <label for="inputCodigo" class="form-label">Codigo</label>
        <input name="Codigo" type="tel" class="form-control w-30" id="inputCodigo" max="100" value="@Model.Codigo" required>
    </div>
    <div class="col-md-4">
        <label for="inputEdad" class="form-label">Activo</label>
        <div class="form-check form-switch">
            <input name="Activo" value="true" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" value="@Model.Activo" @(Model.Activo == true ? "checked" : "")>
        </div>
    </div>
    <div class="col-sm-12 mt-3 p-0 d-flex justify-content-end">
        <button class="btn btnModal btnModalSave" type="submit">
            <i class="IconsButtons fa-solid fa-floppy-disk"></i>
            Guardar
        </button>
        <button class="btn btnModal btnModalCancel" type="button" data-bs-dismiss="modal">
            <i class="IconsButtons fa-solid fa-ban"></i>
            Cancelar
        </button>
    </div>
}

