@using System.Configuration;
<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sinco School</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Frameworks/DataTables/datatables.min.css" />
    <link rel="stylesheet" href="~/css/EstilosIncompletosBootstrapVol1.css" />
    <link rel="stylesheet" href="~/Frameworks/IziToast/dist/css/iziToast.min.css" />
    <link rel="stylesheet" href="~/Frameworks/NewFontAwesome/css/all.css" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Frameworks/NewFontAwesome/js/all.min.js"></script>
    <script src="~/Frameworks/DataTables/datatables.min.js"></script>
    <script src="~/Frameworks/jquery.SerializeObject.js"></script>
    <script src="~/Frameworks/IziToast/dist/js/iziToast.min.js"></script>

    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

        :root {
            --colorBase: #014172;
        }

        * {
            font-family: 'Poppins', sans-serif;
        }

        #Body {
            position: relative;
        }

            #Body::before {
                content: '';
                position: absolute;
                height: 88%;
                width: 100%;
                background: url('../../Images/ClaseBackground.png');
                background-size: cover;
                background-position: center;
                /*opacity: 0.1;*/
                bottom: 0px;
                z-index: -1;
            }

        #Header {
            height: 12%;
            position: relative;
            box-shadow: 0px 1px 5px rgba(0,0,0,0.6);
            background: linear-gradient(145deg, white, var(--colorBase),var(--colorBase));
        }


        #Content {
            height: 88%;
        }

        .imgLogo {
            transform: scale(.6);
        }

        .ContainerOptionMenu {
            margin-right: 3%;
            display: flex;
        }

            .ContainerOptionMenu a {
                color: white !important;
                font-weight: 500;
                transition: ease .1s all;
                cursor: pointer;
                text-decoration:none;
            }

                .ContainerOptionMenu a:hover {
                    /*color: var(--colorBase) !important;*/
                    transform: scale(1.05);
                }

            .ContainerOptionMenu i {
                /*padding-right: 2%;*/
            }

        #ContainerLoader {
            z-index: 2000;
            height: 1px;
            visibility: hidden;
            transition: all .5s ease;
            top: 50%;
            opacity: 0;
            background: linear-gradient(90deg, white, var(--colorBase));
        }

        .ShowLoader {
            top: 0% !important;
            opacity: 1 !important;
            height: 100% !important;
            visibility: visible !important;
        }

        #CircleLoader {
            border-right: 2px solid white;
            border-bottom: 4px solid white;
            border-left: 3px solid white;
            height: 20rem;
            width: 20rem;
            border-radius: 100%;
            position: absolute;
            animation: Rotate 1s infinite;
        }

        @@keyframes Rotate {
            to {
                transform: rotate(360deg);
            }
        }
    </style>
    <script>
        $(document).ready(function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            });
        });
        
    </script>
</head>
<body id="Body" class="h-100">
    <div class="container-fluid h-100 p-0">
        <div id="Header" class="col-sm-12 d-flex">
            <div class="col-sm-2 d-flex flex-wrap justify-content-center position-relative" >
                <i style="font-size: 3rem; color: #0094F2; " class="fa-solid fa-heart"></i>
                <i style="font-size: 1.5rem; color: #3b4c39; position: absolute; bottom: 55%; right: 38%;" class="fa-solid fa-heart"></i>
                <div class="col-sm-12">
                    <h5 class="text-center">Te extraño <b>Vivi</b></h5>
                    <p class="text-center">Y me encantas </p>

                </div>
            </div>
            <div class="col-sm-3 d-flex justify-content-center align-items-center">
                <img src="~/Images/Logo2.png" class="img-fluid imgLogo" />
            </div>
            <div class="col-sm-7 d-flex align-items-center ">
                <div class="col-sm-12 d-flex justify-content-end">
                    <div class="col-sm-auto ContainerOptionMenu">
                        <a href="@(ConfigurationManager.AppSettings["URLClient"])School/Inicio"> <i class="fa-duotone fa-house"></i> Inicio</a>
                    </div>
                    <div class="col-sm-auto ContainerOptionMenu">
                        <a href="@(ConfigurationManager.AppSettings["URLClient"])School/Profesores"> <i class="fa-duotone fa-chalkboard-user"></i> Profesores</a>
                    </div>
                    <div class="col-sm-auto ContainerOptionMenu">
                        <a href="@(ConfigurationManager.AppSettings["URLClient"])School/Estudiantes"> <i class="fa-duotone fa-graduation-cap"></i> Estudiantes</a>
                    </div>
                    <div class="col-sm-auto ContainerOptionMenu">
                        <a href="@(ConfigurationManager.AppSettings["URLClient"])School/Asignaturas"> <i class="fa-duotone fa-book"></i> Asignaturas</a>
                    </div>
                    <div class="col-sm-auto ContainerOptionMenu">
                        <a href="@(ConfigurationManager.AppSettings["URLClient"])School/Reportes"> <i class="fa-duotone fa-file-chart-column"></i> Reportes</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="Content" class="col-sm-12">
            @RenderBody()
        </div>
    </div>

    <div id="ContainerLoader" class="col-sm-12 d-flex align-items-center position-fixed" >
        <div class="col-sm-12 h-100 d-flex justify-content-center align-items-center position-relative">
            <div id="CircleLoader" class="col-sm-4 d-flex justify-content-center align-items-center">
            </div>
            <img src="~/Images/Logo2.png" class="img-fluid" style="width: 15rem;" />

        </div>
    </div>

    <script>
        function ShowLoader() {
            $('#ContainerLoader').addClass('ShowLoader');
        }

        function HideLoader() {
            $('#ContainerLoader').removeClass('ShowLoader');
        }
    </script>
</body>
</html>
